* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hellix;
  }
  
  body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
  }
  
  .constrain {
    max-width: 414px;
    margin: auto;
  }
  
  h1, h2, h4, h5, p {
    color: #111235;
  }
  
  h1, h2 {
      font-weight: 500;
  }
  
  .top-header {
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
   
  }
  
  .top-header > h2 {
    font-size: 36px;
    line-height: 43px;
  }
  
  .content-container {
    padding: 45px 15px;
  }
  
  .bp-100 {
    padding-bottom: 100px;
  }
  
  .tp-80 {
    padding-top: 80px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  h1 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
  }
  
  h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    margin: 30px 0 40px;
  }
  
  h3 {
    color: #111235;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 15px;
  }
  
  h4 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0px;
  }
  
  h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;  
  }
  
  p { 
    font-size: 16px;
    line-height: 24px;  
  }
  
  ul {
    padding-left: 0;
    padding: 20px 0;
  }
  
  ul li {
    list-style: none;
    padding: 20px 0;
    font-weight: 500;
    line-height: 24px;
  }
  
  input[type="text"] {
    font-family: 'Hellix';
    margin-top: 20px;
    width: 65%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    background: url("https://assets.codepen.io/6060109/icon-send.png") white 95% 50% no-repeat;
  }
  
  .no_link {
    text-decoration: none;
    color: #111235;
    font-weight: 500;
  }
  input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #111235;  
  }
  
  .about-us-text-container {
    background: #F2F8FF;
  }
  
  .about-us-text-container h1 {
    font-size: 48px;
    line-height: 58px;
  }
  
  .content-container > img {
    width: 100%;
  }
  
  .goals-container {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    text-align: center;
  }
  
  .goals-container h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  
  .goals-container h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  
  .goals-container img {
    vertical-align: bottom;
    width: 100%;
  }
  
  
  .font-bold {
    font-weight: 700;
  }
  
  .btn {
    text-decoration: none; 
    display: block;
    width: 220px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 18px;
    border-radius: 35px;
    margin: 30px auto;
    text-align: center;
  }
  
  .btn-primary {
    background-color: #4B5092;
    color: white;
  }
  
  .btn-secondary {
    background: #FFFFFF;
    color: #436BAA;
  }
  
  .box {
    padding: 60px 40px;
    border-radius: 30px;
    margin-bottom: 25px;
  }
  
  .box.blue {
    background: #E4F0FF;
  }
  
  .box.purple {
    background: #727AEF;
    background: rgba(114, 122, 239, 0.1);
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    width 20%;
    gap: 16px;
  }
  
  .icon-circle {
    background: rgba(128, 173, 245, .2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-circle > img {
    width: 55%;
  }
  
  .border-bottom {
    border-bottom: 1px solid black;  
  }
  
  #copyright {
    margin: 60px 0;
    text-align: center;
  }
  
  .team-container .desktop-only, .top-menu {
      display: none;
    }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    .constrain {
      max-width: 1400px;
      margin: 0 auto;
    }
    
    .outer-container {
      margin: 0 10%;
    }
    
    .top-header {
     box-shadow:none;
     display:flex;
     justify-content:space-between;
    }
    
    .top-menu {
      list-style-type:none;
      display: flex;
      justify-content:space-between;
      align-items:center;
      width: 40%;
      margin-right: 8%;
    }
    .margin-left{
      margin-left: 5%;
    }
    .first-container {
   
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    
    .first-container img {
      width: 45%;
    }
    
    .first-text {
      width: 100%;
      text-align: center;
    }
    
    .btn {
      margin: 35px 0;
    }
    
    .about-us-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .about-us-img-2 {
      width: 45%;  
    }
    
    .about-us-text-container {
      display: flex;
      align-items: center;
      border-radius:50px;
      padding: 10px 30px;
      width: 45%;
    }
    
    .goals-container {
      display: flex;
      flex-direction: row-reverse;
      justif-content: center;
    }
    
    .goals-container img {
      margin: 0 auto;
      width: 40%;
    }
    
    .goals-text {
      text-align: left;
      width: 45%;
      margin-left: 20px;
    }
    
    .simple-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .simple-flex > * {
      margin: 0;
    }
    
    .box-img-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 50px;
    }
    
    .box-img-container img {
      width: 450px;  
    }
    
    .boxes {
      display: flex;
      width: 70%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 80px;
    }
    
    .box {
      width: 49%;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
    
    .team-container .mobile-only {
      display: none;
    }
    
    .team-container .desktop-only {
      display: block;
    }
    
    footer {
      display: flex;
    }
    
    footer h4 {
      width: 30%;
      text-align: left;
    }
    
    footer ul {
      width: 40%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 200px;
      padding: 0;
      padding-right: 10%;
    }
    
    footer li {
      padding-top: 15px;
    }
    
    footer .stay-up-to-date {
      padding-top: 10px;
      width: 30%;
      text-align: left;
    }
    
    footer .stay-up-to-date input[type='text'] {
      width: 90%;
    }
    
    
    #copyright {
      text-align: left;
      margin-top: -80px;
      padding-top: 0;
    }
    
    .footer-icons {
      display: none;
    }
    
  }
